@use "../global/forward" as fw;

.l-header {
    padding: 15px 0;
}

.l-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 880px;
    margin-inline: auto;
    padding-inline: 20px;
}

.l-header__logo a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.l-header__logo img {
    width: 35px;
    @include fw.mq("sp") {
        width: 20px;
    }
}

.l-header__logo-name {
    display: flex;
    flex-direction: column;
    @include fw.mq("sp") {
        flex-direction: row;
        align-items: center;
    }
}

.l-header__logo-name span:first-child {
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(23 / 20);
    @include fw.mq("sp") {
        font-size: 1.3rem;
        line-height: calc(14 / 13);
    }
}

.l-header__logo-name span:last-child {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: calc(23 / 15);
    @include fw.mq("sp") {
        font-size: 1.3rem;
        line-height: calc(14 / 13);
    }
}