@use "../../global/forward" as fw;

.p-hamburger {
    display: none;
    @include fw.mq("sp") {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 200;
        display: block;
        width: 71px;
        height: 50px;
        background-color: #cb0000;
        transition: all 0.3s;
    }
}

.p-hamburger__line,
.p-hamburger__line::before,
.p-hamburger__line::after {
    @include fw.mq("sp") {
        content: "";
        position: absolute;
        width: 32px;
        height: 4px;
        background-color: #fff;
        border-radius: 4px;
        transition: all 0.3s;
    }
}

.p-hamburger__line {
    @include fw.mq("sp") {
        top: 23px;
        left: 20px;
    }
}

.p-hamburger__line::before {
    @include fw.mq("sp") {
        top: 12px;
        transition: all 0.3s;
    }
}

.p-hamburger__line::after {
    @include fw.mq("sp") {
        bottom: 12px;
        transition: all 0.3s;
    }
}

.p-hamburger.open .p-hamburger__line {
    @include fw.mq("sp") {
        background-color: transparent;
    }
}

.p-hamburger.open .p-hamburger__line::before {
    @include fw.mq("sp") {
        top: 0;
        transform: rotate(45deg);
    }
}

.p-hamburger.open .p-hamburger__line::after {
    @include fw.mq("sp") {
        bottom: 0;
        transform: rotate(-45deg);
    }
}