@use "../../global/forward" as fw;

.p-voice {
    margin-bottom: 34px;
    padding: 44px 0 80px 0;
    background-color: #cb0000;
}

.p-voice__title {
    margin-bottom: 36px;
    color: #fff;
}

.p-voice__card {
    width: calc(300 / 1020 * 100%);
}

.p-voice__card-img {
    margin-bottom: 17px;
    @include fw.mq("sp") {
        margin-bottom: 27px;
    }
}

.p-voice__card-name {
    margin-bottom: 10px;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: calc(33 / 22);
    text-align: center;
}

.p-voice__card-text {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: calc(30 / 18);
}